[data-theme="dark"]{
    --body-text: #fff;
    --body-background: #000; 

    --title-gradient1: #ffffff11;
    --title-gradient2: #ffffff22;
    --title-gradient3: #ffffffaa;

    --nav-border: #444;
    --nav-border-hover: #777;

    --background-btn: #151515;
    --background-btn-hover: #252525;
    --background-btn-select: #292929;

    --switch-background: #292929;
    --switch-background-hover: #4b4b4b;

    --clock-switch-hr-background: #aaa;

    --analog-clock-border: #252525;
    --analog-clock-background: #151515;
    --analog-clock-face-background: #aaa;
}

[data-theme="light"]{
    --body-text: #000;
    --body-background: #fff; 

    --title-gradient1: #00000011;
    --title-gradient2: #00000022;
    --title-gradient3: #000000aa;

    --nav-border: #ccc;
    --nav-border-hover: #999;

    --background-btn: #f5f5f5;
    --background-btn-hover: #d5d5d5;
    --background-btn-select: #d5d5d5;

    --switch-background: #d9d9d9;
    --switch-background-hover: #cbcbcb;

    --clock-switch-hr-background: #111;

    --analog-clock-border: #d5d5d5;
    --analog-clock-background: #f5f5f5;
    --analog-clock-face-background: #111;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    transition: color .2 !important;
}

html{
    font-size: calc(60% + 0.8vmin);
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body{
    opacity: 0;
    background: var(--body-background);
    color: var(--body-text);
    transition: all .5s;
    user-select: none;
    font-family: 'Urbanist', sans-serif;
}

/* @font-face {
    font-family: "digital-clock-font";
    src: url("../font/digital-7.ttf");
} */




.project-name1, .project-name2{
    display: flex;
    justify-content: center;
}

.project-name1{
    margin: 2rem 0 0 0;
}

.project-name2{
    position: relative;
    bottom: .9rem;
    background: linear-gradient(180deg, var(--title-gradient1) 0%, var(--title-gradient2) 50%, var(--title-gradient3) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transform: rotate(180deg);
    transform: rotateX(180deg);
}




/* ! navbar */
nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    border: var(--nav-border) solid 1px;
    border-bottom: none !important;
    width: fit-content;
    transition: border .5s;
}

nav:hover{
    border: var(--nav-border-hover) solid 1px;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 1rem;
    background-color: var(--background-btn);
    padding: 1rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background .2s;
    font-size: 1.2rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover{
    background: var(--background-btn-hover);
}

.select{
    background: var(--background-btn-hover);
}




/* ! switch button */
#mode-switch{
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--switch-background);
    padding: 1rem;
    border-radius: 50%;
    transition: background .2s;
}

#mode-switch:hover{
    background: var(--switch-background-hover);
}

#mode-switch span{
    font-size: 2rem;
    transition: all .2s;
}




/* ! clock page */
#clock-page{
    margin: auto;
    margin-top: 8rem;
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .5s;
}




/* ! clock switch */
#clock-switch{
    width: fit-content;
    margin: auto;
    background: var(--background-btn);
    border-radius: 20px;
    display: flex;
}

#clock-switch hr{
    width: 2px;
    height: 3rem;
    background: var(--clock-switch-hr-background);
    color: var(--clock-switch-hr-background);
}

#analog-switch, #digital-switch{
    padding: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s;
}

#analog-switch{
    border-radius: 20px 0 0 20px;
}

#digital-switch{
    border-radius: 0 20px 20px 0;
}

.switch-select{
    background: var(--background-btn-hover);
}

#clock-switch span{
    position: relative;
    left: -.3rem;
    font-size: 1.5rem;
}




/* ! digital clock and analog clock */
#digital-clock, #analog-clock{
    margin: 1rem;
    background: var(--background-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    transform: none;
    transition: all .5s;
    position: absolute;
    margin-top: 20rem;
    border-radius: 25px;
    padding: 2rem;
}

#digital-clock{
    font-family: sans-serif;
}

#digital-clock p{
    user-select: text;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digital-clock-session{
    margin-left: 1rem;
}

#analog-clock{
    transform: translateY(5rem);
    opacity: 0;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    margin-top: 30rem;
    border: 5px solid var(--analog-clock-border);
    border-radius: 50%;
    background-color: var(--analog-clock-background);
}

.outer-clock-face{
    background-color: var(--analog-clock-background);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #1df52f;
    z-index: 0;
    left: 49%;
}

.outer-clock-face::after{
    transform: rotate(90deg);
}

.outer-clock-face .marking{
    background: var(--analog-clock-face-background);
    width: 3px;
}

.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}
  
.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}
  
.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}
  
.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: var(--background-btn);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: var(--analog-clock-border);
}

.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #61afff;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
  
.hand.hour-hand {
    width: 30%;
    z-index: 3;
    transition: all .2s;
}
  
.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
    transition: all .2s;
}
  
.hand.second-hand{
    background: #ee791a;
    width: 45%;
    height: 2px;
    transition: all .2s;
    z-index: 2;
}




/* ! stopwatch page */
#stopwatch-page{
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    width: 50%;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .5s;
    transform: translateX(5rem);
    opacity: 0;
    z-index: -2;
}

#stopwatch{
    background-color: var(--background-btn);
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 3rem;
    border: solid 2px #ffffff00;
    animation: stopwatch-animation 1s infinite alternate-reverse;
    animation-play-state: paused;
}

@keyframes stopwatch-animation{
    0%{
        border-top: solid 2px var(--nav-border-hover);
        border-bottom: solid 2px var(--nav-border-hover);
    }

    100%{
        border-right: solid 2px var(--nav-border-hover);
        border-left: solid 2px var(--nav-border-hover);
    }
}

#stopwatch p{
    user-select: text;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#stopwatch-btn1, #stopwatch-btn2{
    padding: 1rem;
    font-size: 1.8rem;
    background-color: var(--background-btn);
    border-radius: 25px;
    margin: .5rem;
    cursor: pointer;
    transition: all .5s;
    width: 15rem;
}

#stopwatch-btn1:hover, #stopwatch-btn2:hover{
    background-color: var(--background-btn-hover);
}

#stopwatch-btn1 p{
    transition: all .5s;
}

#stopwatch-btn2{
    opacity: 0;
    transform: translateX(2rem);
}




/* ! timer page */
#timer-page{
    margin: auto;
    text-align: center;
    width: 50%;
    height: 10rem;
    position: relative;
    bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .5s;
    transform: translateX(5rem);
    opacity: 0;
    z-index: -2;
}

#timer-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#timer-input div{
    margin: 1rem;
    transition: all .3s;
}

#timer-input input{
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    padding: .5rem;
    border-radius: 25px;
    background-color: var(--background-btn);
    text-align: center;
    color: var(--body-text);
    font-size: 2rem;
}

#timer-line{
    padding: 2rem;
    position: relative;
    bottom: 5rem;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

#timer-line-original{
    width: 15rem;
    height: 1.2rem;
    border-radius: 25px;
    background-color: var(--background-btn);
    overflow: hidden;
    transition: all .3s;
}

#timer-line-copy{
    width: 15rem;
    height: 1.5rem;
    background-color: var(--background-btn-hover);
    transform: translateX(-15rem);
    transition: all .3s;
}

#timer-buttons{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 5rem;
    transition: all .5s;
}

#timer-btn1, #timer-btn2{
    padding: 1rem;
    font-size: 1.8rem;
    background-color: var(--background-btn);
    border-radius: 25px;
    margin: .5rem;
    cursor: pointer;
    transition: all .5s;
    width: 15rem;
}

#timer-btn1:hover, #timer-btn2:hover{
    background-color: var(--background-btn-hover);
}

#timer-btn1 p{
    transition: all .5s;
}

#timer-btn2{
    opacity: 0;
    transform: translateX(2rem);
}

#timer-window{
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -9;
    transform: scale(0);
}

#timer-window p{
    font-size: 5rem;
}

#timer-window-btn{
    width: 10rem;
    margin: 5rem;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: var(--background-btn);
    border-radius: 25px;
    cursor: pointer;
    transition: all .5s;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}