[data-theme="dark"]{
    --background: #000;
    --text: #fff;
    --navbar-border: #222;
    --navbar-border-hover: #555;
    --navbar-item: #111;
    --navbar-item-hover: #222;
}

[data-theme="light"]{
    --background: #fff;
    --text: #000;
    --navbar-border: #ddd;
    --navbar-border-hover: #aaa;
    --navbar-item: #eee;
    --navbar-item-hover: #ddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

html{
    font-size: calc(60% + 0.8vmin);
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body{
    opacity: 0;
    background: var(--background);
    color: var(--text);
    transition: all 1s;
    user-select: none;
    font-family: 'Urbanist', sans-serif;
}




#project-name{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}




/* ! navbar */
nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem 0 0 0;
    border-radius: 25px;
    border: var(--navbar-border) solid 1px;
    border-bottom: none !important;
    width: fit-content;
    transition: border .5s;
}

nav:hover{
    border: var(--navbar-border-hover) solid 1px;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 1rem;
    background-color: var(--navbar-item);
    padding: 1rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background .2s;
    font-size: 1.2rem;
}

nav ul li:hover{
    background: var(--navbar-item-hover);
}




/* ! switch button */
#mode-switch{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--navbar-item);
    padding: 1rem;
    border-radius: 50%;
    transition: background .2s;
}

#mode-switch:hover{
    background: var(--navbar-item-hover);
}

#mode-switch span{
    font-size: 2rem;
    transition: all .3s;
}




/* ! clock page */
#clock-page{
    margin: auto;
    margin-top: 10rem;
    text-align: center;
    width: 45rem;
    /* background: crimson; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock-switch{
    width: fit-content;
    margin: auto;
    background: var(--navbar-item);
    border-radius: 20px;
    display: flex;
}

#clock-switch hr{
    width: 1px;
    height: 3rem;
    background: var(--navbar-border-hover);
    color: var(--navbar-border-hover);
}

#analog-switch, #digital-switch{
    padding: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s;
}

#analog-switch{
    border-radius: 20px 0 0 20px;
}

#digital-switch{
    border-radius: 0 20px 20px 0;
}

#analog:hover, #digital:hover{
    background: var(--navbar-item-hover);
}

.switch-select{
    background: var(--navbar-item-hover);
}

#clock-switch span{
    position: relative;
    left: -.3rem;
    font-size: 1.5rem;
}

#digital-clock, #analog-clock{
    margin: 1rem;
    background: var(--navbar-item);
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: none;
    transition: all .5s;
    position: absolute;
    margin-top: 30rem;
}

#analog-clock{
    transform: translateY(5rem);
    opacity: 0;
}




/* ! footer */
footer{
    position: relative;
    top: 40rem;
    width: 100%;
    padding: 1rem;
    background: var(--navbar-border);
    display: flex;
    justify-content: center;
    align-items: center;
}