[data-theme="dark"]{
    --background: #000;
    --text: #fff;
    --navbar-border: #222;
    --navbar-border-hover: #555;
    --navbar-item: #111;
    --navbar-item-hover: #222;
}

[data-theme="light"]{
    --background: #fff;
    --text: #000;
    --navbar-border: #ddd;
    --navbar-border-hover: #aaa;
    --navbar-item: #eee;
    --navbar-item-hover: #ddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

html{
    font-size: calc(60% + 0.8vmin);
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body{
    opacity: 0;
    background: var(--background);
    color: var(--text);
    transition: all 1s;
    user-select: none;
    font-family: 'Urbanist', sans-serif;
}




#project-name{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}


/* ! navbar */
nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem 0 0 0;
    border-radius: 25px;
    border: var(--navbar-border) solid 1px;
    border-bottom: none !important;
    width: fit-content;
    transition: border .5s;
}

nav:hover{
    border: var(--navbar-border-hover) solid 1px;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 1rem;
    background-color: var(--navbar-item);
    padding: 1rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background .2s;
    font-size: 1.2rem;
}

nav ul li:hover{
    background: var(--navbar-item-hover);
}


/* ! switch button */
#mode-switch{
    position: absolute;
    margin: 3.5rem 0 0 76rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--navbar-item);
    padding: 1rem;
    border-radius: 50%;
    transition: background .2s;
}

#mode-switch:hover{
    background: var(--navbar-item-hover);
}

#mode-switch span{
    font-size: 2rem;
    transition: all .3s;
}